<%- model_class = Device.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      	<th>Device Name</th>
		<th>Device Type</th>
		<th>Address</th>
		<th>Compartment Number</th>
		<th>Upstream Device</th>
		<th>MAC Address</th>
		<th>Firmware Revision</th>
		<th>LAN Type</th>
		<th>Host Name</th>
		<th>Subnet Mask</th>
		<th>IP Address Setting</th>
		<th>Preferred DNS Server</th>
		<th>Alternate DNS Server</th>
		<th>Domain Name</th>
		<th>Modbus TCP Enabled</th>
		<th>Amps</th>
		<th>Power Factor</th>
		<th>Status</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.desc_location, device_path(device.customer_id, device) %></td>
		<td><%= device.device_type %></td>
		<td><%= device.incom_address %></td>
		<td><%= device.desc_bucket %></td>
		<td><%= device.upstream_device %></td>
		<td><%= device.mac_address %></td>
		<td><%= device.firmware %></td>
		<td><%= device.lan_type %></td>
		<td><%= device.host_name %></td>
		<td><%= device.subnet_mask %></td>
		<td><%= device.ip_address_setting %></td>
		<td><%= device.default_gateway %></td>
		<td><%= device.preferred_dns_server %></td>
		<td><%= device.alternate_dns_server %></td>
		<td><%= device.domain_name %></td>
		<td><%= device.modbus_tcp_ip_enabled %></td>
		<td><%= device.amps %></td>
		<td><%= device.realStatus %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_device_path(device), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      device_path(device),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_device_path,
            :class => 'btn btn-primary' %>
